<a href="https://colab.research.google.com/github/ChoiKunWoo/knu_bdna_2022/blob/main/%EC%B5%9C%EA%B1%B4%EC%9A%B01%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def functionName():
  return

In [2]:
def greet():
  print("hello world")

In [3]:
greet()

hello world

In [4]:
def add(a,b):
  c=a*b
  return c

In [5]:
def multiply(a,b):
  c=a*b
  return c

In [6]:
def greet2(name):
  print('반갑습니다' , name)
  print(name, '님은 파이썬의 세계로 오셨습니다')

In [7]:
greet2('최건우')

반갑습니다 최건우
최건우 님은 파이썬의 세계로 오셨습니다

In [8]:
def greet2(name):
  print('반갑습니다' ,name)
  print(name, '님은 파이썬의 세계로 오셨습니다')

In [9]:
inputName = '최건우'

In [10]:
greet2(inputName)

반갑습니다 최건우
최건우 님은 파이썬의 세계로 오셨습니다

In [11]:
def adder(num1, num2):
  sum=num1+num2
  print('덧셈 결과: ', num1 + num2)

In [12]:
adder(10,5)

덧셈 결과:  15

In [13]:
sum

In [14]:
def adder(num1, num2):
  sum=num1+num2
  return sum

In [17]:
result = adder(10,5)
print(sum)

<built-in function sum>

In [16]:
print(sum)

<built-in function sum>

In [18]:
def adder(num1, num2):
  sum=num1+num2
  return sum

In [19]:
def main():
  print(adder(5,3))

In [20]:
main()

8

In [21]:
max(2,3,4)

4

In [22]:
min(2,3,4)

2

In [23]:
round(3.51) # 가장 가까운 정수로 근사

4

In [24]:
round(3.4)

3

In [25]:
abs(-3) #절댓값 반환

3

In [26]:
pow(2,3) #2의 3승

8

In [27]:
round(3.1234,2) #소수점 둘째 자리까지 근사

3.12

In [28]:
10%3 = 1 : /나머지 #몫과 나머지

SyntaxError: ignored

In [29]:
10%3

1

In [31]:
10%3=1 : /

SyntaxError: ignored

In [37]:
result = eval(input("2-4*5+3"))

2-4*5+3-15

In [38]:
result

-15

In [40]:
def ret():
  return 12

In [41]:
result = eval(input("ret()"))

ret()12

In [42]:
print(result)

12